.game-board {
    width: 500px;
    height: 500px;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    grid-gap: 25px;
}

.game-cell {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 8px 8px 24px;
}

.game-cell.isX {
    color: #2cccff;
}

.game-cell.isO {
    color: #FF6651;
}

.game-reset {
    margin: 25px;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: rgb(215, 141, 215);
    font-size: 16px;
    border: none;
    outline: none;
}

.game-winner {
    padding: 25px;
    font-size: 20px;
    color: #F62682;
}